<header class="site-header">
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
	</button>
	<a class="navbar-brand" href="{{site.baseurl}}/index">{{site.title}}</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="{{site.baseurl}}/research_themes">Research themes</a></li>
	  <li><a href="{{site.baseurl}}/people">People</a></li>
	  <li><a href="{{site.baseurl}}/publications">Publications</a></li>
	  <li><a href="{{site.baseurl}}/blog">Blog</a></li>

	</ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid site-headerband">
    <div class="row" >
      <div class="col-xs-4 col-md-2" >
	<a href="{{site.baseurl}}/images/naamii_logo.png"><img class="img-fluid" src="{{site.baseurl}}/images/naamii_logo.png" alt="NAAMII logo"></img></a>
      </div>
      <div class="col-xs-14 col-md-10" > </div>
    </div>
  </div>

</header>
