/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    //min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-headerband {
  background-color: #2C333F;
  padding-top: 50px;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit -10; //This prevents fixed footer navbar from hiding body text!
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}





